<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="RestuarantProjectGroup4"
             connectionString="Data Source=serverproject.database.windows.net;Initial Catalog=Plebbproject;User ID=plebbproject;Password=Plebb2024;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
