## .NET
[Bb]in/
[Oo]bj/
*.dll
*.pdb
*.exe
*.log
*.user
*.suo
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.cache
*.tmp
*.temp

## Visual Studio
.vs/
*.vspscc
*.vssscc

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild[Ll]og.*
[Bb]uild[Ll]ogs/
*.builds
*.pidb
*.svclog
*.scc

## Rider
.idea/

## macOS
.DS_Store

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
