<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Plebbproject"
			 connectionString="Data Source=plebbserver.database.windows.net;Initial Catalog=Plebbproject;Integrated Security=False;User ID=plebdatabase1;Password=Project2024;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>					